<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deyvitineo.tdee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.deyvitineo.tdee.TdeeCalculator"></activity>
        <activity
            android:name="com.deyvitineo.tdee.GetStarted"
            android:theme="@style/getStartedTheme" />
        <activity
            android:name="com.deyvitineo.tdee.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deyvitineo.tdee.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
